:root {
  --scrollbar: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-spacing: 1px;
}

@media screen and (max-width: 374px) {
  html {
    font-size: 9px;
  }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
  html {
    font-size: calc(10px + 10 * (100vw - 375px) / 392);
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: calc(8px + 2.7 * (100vw - 768px) / 255);
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  html {
    font-size: calc(7.4px + 2 * (100vw - 1024px) / 255);
  }
}

@media (min-width: 1280px) and (max-width: 1919px) {
  html {
    font-size: calc(9px + 1 * (100vw - 1280px) / 639);
  }
}

@media (min-width: 1920px) {
  html {
    font-size: calc(10px + 1 * (100vw - 1920px) / 240);
  }
}

html,
body {
  position: relative;
  height: 100%;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

body {
  position: relative;
  width: 100%;
  max-width: 100vw;
  font-family: "Font", sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

.dark-mode {
  body {
    background-color: #141414;
    color: #fff;
  }
}

.light-mode {
  body {
    background-color: #fff;
    color: #303132;
  }
}

a,
button {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  cursor: pointer;
  transition: all 1s ease;
  background: none;
  border: none;

  &:focus {
    outline: none;
  }
}
.container {
  max-width: 144rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

#app {
  width: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 1rem;
}
