.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fromTop-enter-active,
.fromTop-leave-active {
  transition: all 0.3s ease;
}

.fromTop-enter-from,
.fromTop-leave-to {
  transform: translateY(-3rem);
  opacity: 0;
}

.fromBottom-enter-active,
.fromBottom-leave-active {
  transition: all 0.3s ease;
}

.fromBottom-enter-from,
.fromBottom-leave-to {
  transform: translateY(3rem);
  opacity: 0;
}

.fromRight-enter-active,
.fromRight-leave-active {
  transition: all 0.3s ease;
}

.fromRight-enter-from,
.fromRight-leave-to {
  transform: translateX(100%);
  opacity: 0;
}

.fromLeft-enter-active,
.fromLeft-leave-active {
  transition: all 0.3s ease;
}

.fromLeft-enter-from,
.fromLeft-leave-to {
  transform: translateX(-100%);
  opacity: 0;
}
