.el-checkbox {
  --el-checkbox-input-height: 18px !important;
  --el-checkbox-input-width: 18px !important;
  --el-checkbox-font-size: 1.8rem !important;
}

.el-radio {
  --el-radio-input-height: 18px !important;
  --el-radio-input-width: 18px !important;
  --el-radio-font-size: 1.8rem !important;
}

.el-button {
  height: var(--el-component-size) !important;
}

.dark-mode {
  .el-input {
    --el-input-text-color: #141414;
  }
}

:root {
  --el-font-size-extra-large: 2.2rem !important;
  --el-font-size-large: 2rem !important;
  --el-font-size-medium: 1.8rem !important;
  --el-font-size-base: 1.6rem !important;
  --el-font-size-small: 1.4rem !important;
  --el-font-size-extra-small: 1.2rem !important;
}
