:root {
  --el-component-size-large: 48px !important;
  --el-component-size: 40px !important;
  --el-component-size-small: 32px !important;
  --el-border-radius-base: 8px !important;
  --el-border-radius-small: 4px !important;
  --el-border-radius-circle: calc(100% - 1px) !important;
}

.dark-mode:root {
  --el-color-primary: #7d6fdb;
  --el-color-primary-light-3: #a798ff;
  --el-color-primary-light-5: #beb1ff;
  --el-color-primary-light-7: #ccc1ff;
  --el-color-primary-light-8: #ddd5ff;
  --el-color-primary-light-9: #ccc1ff;
  --el-color-primary-dark-2: #584cb7;
  --el-color-success: #167e8d;
  --el-color-success-light-3: #20a4a9;
  --el-color-success-light-5: #2cc5bd;
  --el-color-success-light-7: #5bdcca;
  --el-color-success-light-8: #7eedd4;
  --el-color-success-light-9: #abf9e0;
  --el-color-success-dark-2: #0e5c72;
  --el-color-warning: #dbb039;
  --el-color-warning-light-3: #ffd54f;
  --el-color-warning-light-5: #ffe27a;
  --el-color-warning-light-7: #ffeb95;
  --el-color-warning-light-8: #fff3b8;
  --el-color-warning-light-9: #fffadb;
  --el-color-warning-dark-2: #b78e27;
  --el-color-danger: #b7473b;
  --el-color-danger-light-3: #db6c56;
  --el-color-danger-light-5: #ff9777;
  --el-color-danger-light-7: #ffb899;
  --el-color-danger-light-8: #ffccad;
  --el-color-danger-light-9: #ffe1c8;
  --el-color-danger-dark-2: #932825;
  --el-color-error: #f56c6c;
  --el-color-error-light-3: #f89898;
  --el-color-error-light-5: #fab6b6;
  --el-color-error-light-7: #fcd3d3;
  --el-color-error-light-8: #fde2e2;
  --el-color-error-light-9: #fef0f0;
  --el-color-error-dark-2: #c45656;
  --el-color-info: #909399;
  --el-color-info-light-3: #b1b3b8;
  --el-color-info-light-5: #c8c9cc;
  --el-color-info-light-7: #dedfe0;
  --el-color-info-light-8: #e9e9eb;
  --el-color-info-light-9: #f4f4f5;
  --el-color-info-dark-2: #73767a;
  --el-bg-color: #ffffff;
  --el-bg-color-page: #f2f3f5;
  --el-bg-color-overlay: #ffffff;
  --el-text-color-primary: #ffffff;
  --el-text-color-regular: #e8e8e8;
  --el-text-color-secondary: #d8d8d8;
  --el-text-color-placeholder: #c8c8c8;
  --el-text-color-disabled: #c0c4cc;
  --el-border-color: #dcdfe6;
  --el-border-color-light: #e4e7ed;
  --el-border-color-lighter: #ebeef5;
  --el-border-color-extra-light: #f2f6fc;
  --el-border-color-dark: #d4d7de;
  --el-border-color-darker: #cdd0d6;
  --el-fill-color: #f0f2f5;
  --el-fill-color-light: #f5f7fa;
  --el-fill-color-lighter: #fafafa;
  --el-fill-color-extra-light: #fafcff;
  --el-fill-color-dark: #ebedf0;
  --el-fill-color-darker: #e6e8eb;
  --el-fill-color-blank: #ffffff;
  --el-box-shadow: 0 4px 23px 0 rgba(0, 0, 0, 0.12);
  --el-box-shadow-light: 0 8px 16px 0 rgba(96, 97, 112, 0.16),
    0 2px 4px 0 rgba(40, 41, 61, 0.04);
  --el-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.12);
  --el-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.08),
    0px 12px 32px rgba(0, 0, 0, 0.12), 0px 8px 16px -8px rgba(0, 0, 0, 0.16);
  --el-disabled-bg-color: var(--el-fill-color-light);
  --el-disabled-text-color: var(--el-text-color-placeholder);
  --el-disabled-border-color: var(--el-border-color-light);
  --el-overlay-color: rgba(0, 0, 0, 0.8);
  --el-overlay-color-light: rgba(0, 0, 0, 0.7);
  --el-overlay-color-lighter: rgba(0, 0, 0, 0.5);
  --el-mask-color: rgba(255, 255, 255, 0.9);
  --el-mask-color-extra-light: rgba(255, 255, 255, 0.3);
  --el-border-width: 1px;
  --el-border-style: solid;
  --el-border-color-hover: var(--el-text-color-disabled);
  --el-border: var(--el-border-width) var(--el-border-style)
    var(--el-border-color);
  --el-svg-monochrome-grey: var(--el-border-color);
}
